* {
  box-sizing: border-box;
}
html {
  background-color: blue;
  font-size: 16px;
}

body {
  background-color: green;
  box-shadow: 0 0 12px -2px black;
  padding: 0;
  max-width: 1500px;
  margin: 0 auto;
}

a {
  color: white;
  font-size: x-large;
  margin: 0 5px;
}

nav {
  box-shadow: 0 0 12px -2px black;
  position: fixed;
  left: 0;
  right: 0;
  align-items: center;
  background-color: red;
  color: bisque;
  display: flex;
  height: 80px;
  padding: 30px;
  justify-content: space-between;
}

h1 {
  color: white;
  font-size: xxx-large;
}
main {
  min-height: 100vh;
  padding: 85px 24px 96px;
  box-shadow: 0 0 12px -2px white;
  color: white;
  font-size: 25px;
  display: block;
}
h2 {
  font-size: xxx-large;
}
section {
  border-top: 1px solid #bbb;
}

.image-right img {
  max-width: 600px;
  height: auto;
}
#about-header {
  font-size: xx-large;
}
h3 {
  font-size: xx-large;
  margin: 10px;
  padding: 25px;
}
.about-section:nth-of-type(odd) > img {
  float: left;
  margin: 0 24px 24px 0;
}

.about-section:nth-of-type(even) > img {
  float: right;
  margin: 0 24px 24px 24px;
}

.about-section img {
  height: 128px;
}
